@use 'sass:map';
@use 'abstract/css-grid/css-grid-config' as *;
@use 'abstract/css-grid/css-grid-mixins' as *;

@if true {
  body:after {
    content: 'base';
    padding: 2px 4px;
    border-radius: 4px;
    position: fixed;
    z-index: 999999999;
    right: 2px;
    bottom: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    line-height: 1;
  }

  @each $_slug, $_obj in $css-grid--breakpoints {
    $_name: map.get($_obj, "name");
    $_shorthand: map.get($_obj, "shorthand");
    $_value: map.get($_obj, "value");
    $_margins: map.get($_obj, "margins");
    $_max-width: map.get($_obj, "max-width");
    $_gutters: map.get($_obj, "gutters");

    @include up($_value) {
      body:after {
        content: $_name;
      }
    }
  }
}
