{% if element.color is not empty %}
    {% set colorValue = ui_element.getOptionValue(element.color) %}
    {% if colorValue is not empty %}
        {% set imageChip = colorValue|filter_images(constant('App\\Entity\\Product\\ProductOptionValueImage::PRODUCT_OPTION_VALUE_IMAGE_TYPE_DEFAULT')) %}
        {% if imageChip.path is defined and imageChip.path is not empty %}
            <img class="mini ui fluid image" alt="" src="{{ imageChip.path|imagine_filter('app_cms_slider_chip') }}"/>
        {% endif %}
        <p>{{ colorValue.value }}</p>
    {% endif %}
{% endif %}
