{#
    UI Element template
    type: h1
    element fields :
        content
#}
{% if element is not empty %}
    <div class="cms__title">
        <h1 class="t-header-xlarge t-link-proxy">{{ element.content }}</h1>
    </div>
{% endif %}
