<div class="media-text-only u-padding-t-3 u-padding-b-3 @lg:u-padding-b-7 @lg:u-padding-t-7 {{ element.bg_color }}">
    <div class="container">
        <div class="row">
            <div class="column-fill-space">
                <p class="t-base-medium">
                    {{ element.description | raw }}
                </p>
            </div>
        </div>
    </div>
</div>
