{% set homePageUrl = channel.hostname is not null ? 'http://' ~ channel.hostname : url('sylius_shop_homepage') %}

<a href="{{ homePageUrl }}" title="" class="" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <img align="center" alt="" src="https://mcusercontent.com/54e23277116835a84c2d9ca2b/images/913fdff2-ae67-4910-9064-6cf7f7ff6405.png" width="111.71999999999998" style="max-width: 196px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage">
</a>
