<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
    <a href="https://www.instagram.com/plum.living/?hl=en" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/dark-instagram-48.png" alt="Instagram" style="display:block;" height="24" width="24" class=""></a>
</td>
