<td align="center" valign="middle" width="24" class="mcnFollowIconContent">
    <a href="https://www.pinterest.fr/00s77ti92dz7b4ia0e0fo3npih3kwy/pins/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/dark-pinterest-48.png" alt="Pinterest" style="display:block;" height="24" width="24" class=""></a>
</td>
