<button id="{{ id|default('') }}" class="plum-menu-toggle ripple-button func-button @lg:u-hidden" data-dark-ripple>
    <span class="plum-menu-toggle__bar"></span>
    <span class="plum-menu-toggle__bar"></span>
    <span class="plum-menu-toggle__bar"></span>
    <span class="u-sr-only">{{ 'app.header.shop.burger_menu_label'|trans }}</span>
</button>
