<div class="row t-align-center u-margin-t-6">
    <div class="column">
        <span class="t-header-medium">{{ 'sylius.ui.new_customer'|trans }}</span>
    </div>
</div>
<div class="row u-cross-centered-row u-margin-t-3">
    <div class="column u-cross-centered-col u-center-on-cross">
        <a class="button button--inversed button u-fullwidth ripple-button" href="{{ path('sylius_shop_register') }}">
            {{ 'app.ui.generic.register'|trans }}
        </a>
    </div>
</div>
