@use '../../../config/sass' as *;
@use '../../../abstract/css-grid/css-grid-mixins' as *;


/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Cart Toggle
  • Close Button
  	• Specific instance: #CloseCartButton
  • Quotation Home Button
*/


/*
  • Cart Toggle
  ---------- ---------- ---------- ---------- ----------
*/

.cart-toggle {
  width: auto;
  padding-left: rem(8);
  padding-right: rem(8);

  &__count {
    display: flex;
    justify-content: center;
    width: rem(16);
    height: rem(16);
    border-radius: 100%;
    margin-left: rem(4);
    background: #000;
    color: #fff;
    font-size: rem(9);
    line-height: rem(17);
    text-align: center;
  }
}


/*
  • Close Button
  ---------- ---------- ---------- ---------- ----------
*/

$-base-size: 40;
$-zoom-factor: 1.2;
$-real-size: $-base-size * $-zoom-factor;
$-padding: (($-real-size - $-base-size) / 2);

$-lg--base-size: 64;
$-lg--zoom-factor: 1.2;
$-lg--real-size: $-lg--base-size * $-lg--zoom-factor;
$-lg--padding: (($-lg--real-size - $-lg--base-size) / 2);

.close-button {
  min-width: rem($-real-size) !important;
  min-height: rem($-real-size) !important;
  border-radius: 100% !important;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    left: rem($-padding);
    right: rem($-padding);
    top: rem($-padding);
    bottom: rem($-padding);
    background: $color--green;
    transition: transform 0.2s;
  }

  &__bar {
    width: rem(16);
    height: 2px;
    position: absolute;
    left: calc(50% - #{rem(8)});
    top: calc(50% - 1px);
    background: $color--near-black;
    transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.close-button:hover {
  &:before {
    transform: scale(1.2);
  }

  .close-button { // For nesting
    &__bar {
      &:nth-child(1) {

      }

      &:nth-child(2) {

      }
    }
  }
}

@include up(large) {
  .close-button {
    min-width: rem($-lg--real-size) !important;
    min-height: rem($-lg--real-size) !important;

    &::before {
      left: rem($-lg--padding);
      right: rem($-lg--padding);
      top: rem($-lg--padding);
      bottom: rem($-lg--padding);
    }

    &__bar {
      width: rem(24);
      left: calc(50% - #{rem(12)});
    }
  }
}


/*
  • Quotation Home Button
  ---------- ---------- ---------- ---------- ----------
*/

.plum-header__right-area .quotation-home-button {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1.05px;
    padding: 7px 15px;
    min-height: auto;
    line-height: inherit !important;

    svg{
      height: 19px;
      padding-top: 1Px;
    }
  &.styler-home-button{
    background-color: #f2e9e5;
  }
}

.styler-home-button-mobile{
  margin-top:0;
}

.coupon-button{
  color: $color--true-white;
  background: $color--asphalte;
  padding: 4px 11px;
  border-radius: 4px;
  margin-right: 5px;
  &:hover, &:focus, &:active{
    color: $color--true-white;
  }
}
