table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

thead {

}

tbody {

}

tfoot {

}

tr {

    }
      th, td {
        vertical-align: top;
        padding: 0;
      }

      th {
        font-weight: inherit;
      }

      td {
        
      }
