<div class="ui grid">
    <h3>{{ element.title | raw }}</h3>
    <p>{{ element.description | raw }}</p>
    {% if element.link_label and element.link_url %}
        <a class="btn"
           href="{{ element.link_url | raw }}">
            {{ element.link_label | raw }}
        </a>
    {% endif %}
</div>
