<div>
    <h3>
        {{ 'app.ui.admin.order.cart_state.title'|trans }}
    </h3>
    <a href="{{ path('sylius_admin_order_index') }}">
        {{ 'app.ui.admin.order.cart_state.back'|trans }}
    </a>
</div>
