<div class="steps-nav">
    <div class="steps-nav__step {% if step == 1 %} steps-nav__step--active {% endif %}">
        <span class="steps-nav__index t-base-medium" data-no-link-fx>1</span>
        <span class="steps-nav__name t-base-small">{{ 'app.ui.plum_scanner.step_one.title'|trans }}</span>
    </div>
    <div class="steps-nav__step {% if step == 2 %} steps-nav__step--active {% endif %}">
        <span class="steps-nav__index t-base-medium" data-no-link-fx>2</span>
        <span class="steps-nav__name t-base-small">{{ 'app.ui.plum_scanner.step_two.title'|trans }}</span>
    </div>
    <div class="steps-nav__step {% if step == 3 %} steps-nav__step--active {% endif %}">
        <span class="steps-nav__index t-base-medium" data-no-link-fx>3</span>
        <span class="steps-nav__name t-base-small">{{ 'app.ui.plum_scanner.step_three.title'|trans }}</span>
    </div>
</div>
